@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Cutive Mono', monospace;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
  padding: 20px 50px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: azure;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

.wrap {
  overflow: hidden;
}

input, select {
  vertical-align: middle;
}

.header {
  width: 100%;
  background-color: #a7dae1;
}

.head-nav {
  width: 70%;
  margin: auto;
  padding: 30px;
}

.menu-a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.menu-a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: whitesmoke;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.menu-a:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-family: 'Cutive Mono', monospace;
  color: whitesmoke;
  font-size: 20px;
}

.top-title {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.top-title-inner {
  padding-bottom: 30px;
}

.myname {
  font-size: 90px;
  width: 100%;
  margin-bottom: 70px;
  color: #745757;
  font-weight: 100;
  font-family: 'Cedarville Cursive', cursive;
}

.occupation {
  width: 100%;
  color: #af8383;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.section-wrrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section-title-inner {
  padding-top: 50px;
  padding-bottom: 30px;
}

.section-h1 {
  width: 100%;
  display: inline-block;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 60px;
  color: #796252;
  font-weight: 100;
}

.section-h2 {
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  display: inline-block;
  letter-spacing: 0.2em;
  font-weight: lighter;
  color: #af8383;
  margin-bottom: 20px;
}

.section-text {
  margin-top: 50px;
  margin-bottom: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-ｐ {
  font-size: 13px;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 2;
}

.section-img {
  width: 15%;
  margin: 30px;
}

.skils {
  margin-top: 15px;
}
.skil_list {
  display: flex;
  flex-wrap: wrap;
}
.skil_list p{
  font-family: 'Noto Sans JP', sans-serif;
  color: #f0f0f0;
}
.skil_list h2{
  font-size: 2.1em;
  color: #f0f0f0;
  line-height: 2;

}

.skils-h1 {
  color: #f0f0f0;
}

.skils-h2 {
  color: #7a6a6a;
}

.skils-back {
  width: 80%;
  height: 750px;
  background-color: #c2a8a5;
  margin: 50px auto;
}
.skils_block{
  padding:10px;
  height: 200px;
  margin: 30px auto;
  width: 30%;
  line-height: 2;
}
.skils_block img{
  width: 30%;
}

.works-back {
  width: 80%;
  height: 600px;
  background-color: #e6e4e1;
  margin: 0 auto;
  margin-bottom: 200px;
}

.contact-h1 {
  color: #f0f0f0;
}

.contact-h2 {
  color: #7a6a6a;
  margin-bottom: 0;
}

.form-div {
  width: 80%;
  height: 900px;
  background-color: #c2a8a5;
  margin: 0 auto;
}

.form-inner {
  display: -ms-grid;
  display: grid;
  margin: 0 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-p {
  color: #e0dddd;
  font-size: 18px;
}

.form-input {
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  color: #aaa;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 65%;
}

.submit-button {
  width: 20%;
  height: 45px;
  padding: 5px 10px;
  background-color: #dbd7d7ad;
  color: #fff;
  font-size: 15px;
  border-style: none;
  margin-top: 10px;
}
.sns_icon{
  margin-top: 50px;
  font-size: 3em;
  padding: 10px;
  color: #e0dddd;
}
footer {
  margin-top: 100px;
  height: 200px;
  background-color: #a7dae1;
}

.fotter-name {
  font-size: 40px;
  padding: 50px 0;
  float: left;
}
/*# sourceMappingURL=style.css.map */

@media screen and (max-width:560px){
}
