@charset "UTF-8";
@font-face {
  font-family: AC-Fifindrel;
  src: url('font/AC-Fifindrel_Unicode.ttf') format('truetype');
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: 'Cutive Mono', monospace;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
  padding: 20px 50px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: azure;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* change border colour to suit your needs */
hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

.wrap {
  overflow: hidden;
}

input, select {
  vertical-align: middle;
}

.header {
  width: 100%;
  background-color: #a7dae1;
}

.head_nav_pc {
  width: 70%;
  margin: auto;
  padding: 30px;
}

.head_nav_mobile{
  display: none;
}

.menu_mobile_open {
  display: none;
}

.menu-a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.menu-a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: whitesmoke;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.menu-a:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.menu_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-family: 'Cutive Mono', monospace;
  color: whitesmoke;
  font-size: 20px;
}

.top_icon {
  font-size: 2em;
  margin-right: 30px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  width:50px;
	height: 50px;
  border-radius: 50%;
  background-color:#af8383;
  color: white;
  cursor: pointer;
}

.top_title {
  padding:18% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top_title_inner {
  padding-bottom: 30px;
}

.myname {
  font-size: 9em;
  width: 100%;
  margin-bottom: 70px;
  color: #745757;
  font-weight: 100;
  font-family: AC-Fifindrel;
}

.occupation {
  width: 100%;
  color: #af8383;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.section_wrrap {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section_h1 {
  width: 100%;
  display: inline-block;
  font-family: AC-Fifindrel;
  font-size: 5em;
  color: #796252;
  font-weight: 100;
}

.section_h2 {
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  display: inline-block;
  letter-spacing: 0.2em;
  font-weight: lighter;
  color: #af8383;
  margin-bottom: 20px;
}

.section-text {
  margin-top: 50px;
  margin-bottom: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section_p {
  font-size: 13px;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 2;
}

.section-img {
  width: 15%;
  margin: 30px;
}

.about{
  padding-top: 100px;
}

.skills {
  margin-top: 15px;
}

.skill_list {
  display: flex;
  flex-wrap: wrap;
}

.skill_list p{
  font-family: 'Noto Sans JP', sans-serif;
  color: #f0f0f0;
}

.skill_list h2{
  font-size: 2.1em;
  color: #f0f0f0;
  line-height: 2;
}

.skills-h1 {
  color: #f0f0f0;
}

.skills-h2 {
  color: #7a6a6a;
}

.skills_back {
  background-color: #c2a8a5;
  margin: 0 auto;
  padding:10% 0;
}
.skills_block{
  margin: 0 0 50px calc(10% / 4);
  width: 30%;
  line-height: 2;
}

.skills_block img{
  width: 30%;
}

.works {
  padding-top: 100px;
}

.works-back {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 200px;
  padding: 6% 0;
}

.works_list{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.works-back img {
  width: 100%;
}

.works-back img:hover {
  opacity: 0.7;
}


.works_list_h2{
margin-bottom: 70px;
font-size: 2em;
}

.works_thumb {
  width: 30%;
}

.works_p {
  font-family: 'Noto Sans JP', sans-serif;
  color: #723d3d;
  width: 50%;
  line-height: 2;
  text-align: left;
  margin-left: 5%;
  font-size: 1em;
}

.works_link {
  color:#812c2c;
  font-size: 1.2em;
  width: 30;
}

.contact-h1 {
  color: #f0f0f0;
}

.contact-h2 {
  color: #7a6a6a;
  margin-bottom: 0;
}

.form_back {
  background-color: #c2a8a5;
}

.form_section {
  width: 80%;
  padding: 5% 0;
  margin: 0 auto;
}

.form-inner {
  display: -ms-grid;
  display: grid;
  margin: 0 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-p {
  color: white;
  font-size: 18px;
}

.form-input {
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  color: #aaa;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 65%;
  display: block;
}

.submit_button {
  padding: 10px 100px;
  margin: 5%;
  background-color: #dbd7d7ad;
  color: white;
  font-size: 1.2em;
  border-style: none;
}

.submit_button:hover {
  opacity: 0.7;
}

.sns_section{
  margin: 0 auto;
  font-size: 3em;
  color: #e0dddd;
  display: flex;
}

.sns_icon {
  font-size: 0.6em;
}

.sns_link:hover {
  opacity: 0.7;
}

footer {
  background-color: #a7dae1;
  padding: 5% 0;
  position: relative;
}

.fotter_name {
  font-family: 'Cutive Mono', monospace;
  color: #745757;
}

@media screen and (max-width:560px){

.header {
  position: relative;
}

.head_nav_pc{
  display: none;
}

.top_icon {
  display: none;
}

.menu_mobile_open {
  display: block;
  position: fixed;
  right: 0;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2em;
  color: #745757;
}

.menu_mobile_close {
  position: absolute;
  right: 0;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2em;
  color: white;
}

.head_nav_mobile {
  position: fixed;
  display: block;
  background-color: #aaa;
  opacity: 0.9;
  height: 90vh;
  right: -100%;
  text-align: center;
  top: 0;
  transition: .3s;
  width: 100%;
}

.menu_mobile_show {
  right: 0;
}

.menu_ul_mobile {
  padding: 30% 0;
}

.menu_li_mobile {
  list-style: none;
}

.list_a_mobile {
  font-size: 2em;
  line-height: 3;
}

.top_title {
  padding:90% 0 ;
}

.myname {
    font-size: 5em;
    line-height: 1.5;
    margin-bottom: 10%;
}

.section-img {
  width: 40%;
}

.section-ｐ{
  font-size: 0.7em;
  width: 80%;
  margin: 0 auto;
}

.section_h1 {
  font-size: 4em;
}

.section_h2 {
  font-size: 1em;
  margin-bottom: 15%;
}

.skill_list p{
  font-size: 0.8em;
}

.skill_list h2{
  font-size: 1.6em;
  color: #f0f0f0;
  line-height:1.2;
}

.skills_block{
  margin: 5% auto;
}

.skills_block img {
  width: 20%;
}

.works-back {
  margin-bottom: 0;
}

.works_list{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.works_list_h2{
margin-bottom: 70px;
font-size: 1em;
}

.works_thumb {
  width: 50%;
}

.works_link {
  width: 80%;
}

.works_p {
  font-family: 'Noto Sans JP', sans-serif;
  color: #7a6a6a;
  width: 60%;
  line-height: 2;
  margin:10% auto;
  font-size: 0.9em;
}

.contact {
  width: 100%;
}

.form-div {
  width: 100%;
  padding: 20% 0;
}

.form-inner {
  display: -ms-grid;
  display: grid;
  margin: 0 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.form-p {
  color: #e0dddd;
  font-size: 18px;
}

.form-input {
  font-size: 1em;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 80%;
  height: 20%;
}

.submit-button {
  width: 60%;
  height: 45px;
  padding: 5px 10px;
  background-color: #dbd7d7ad;
  color: #fff;
  font-size: 15px;
  border-style: none;
  margin-top: 10px;
}

footer {
  padding: 15% 0;
  margin: 0 auto;
}

.fotter_name {
  font-size: 0.7em;
}

}